/********************** couleurs novaa **********************/
.rose{color:#e90085}
.bleu{color:#1a4090}
.violet{color:#6d4283}
.violine{color:#a12d64}
.blanc{color:white;}
.noir{color:black;}


.bg-rose{background-color:#e90085}
.bg-bleu{background-color:#1a4090}
.bg-rouge{background-color:red}
.bg-violet{background-color:#6d4283}
.bg-violine{background-color:#a12d64}
.bg-noir{background-color:black;}
.bg-blanc{background-color:white;}

.uppercase{text-transform: uppercase;}

/********************** couleurs novaa **********************/



.container{width: 1080px ;margin: 0 auto ;text-align: left ;}
.clearfix{clear:both;}
.left{float:left;}
.right{float:right;}
.center{text-align: center!important;}

#merci h1{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 56px!important;padding: 0 3px;margin-bottom:10px;}
#merci h2{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 46px!important;padding: 0 3px;margin-bottom:10px;color:#a12d64}


.cta-rappel{display:block;height:70px;width:70px;background: #e90085 url(../images/icon-rappel.png)center 5px no-repeat;color:white;font-family:"myriad-pro-condensed";font-weight: 300;font-size: 14px;position:absolute;right:0;top:300px;background-size: 35%;text-decoration: none;position:fixed;line-height: 100px;text-align: center;}
.cta-rappel:hover{background: #a12d64 url(../images/icon-rappel.png)center 5px no-repeat;background-size: 35%;}


.cta-devis{display:block;height:70px;width:70px;background: #6d4283 url(../images/icon-devis.png)center 5px no-repeat;color:white;font-family:"myriad-pro-condensed";font-weight: 300;font-size: 14px;position:absolute;right:0;top:390px;background-size: 55%;text-decoration: none;position:fixed;line-height: 100px;text-align: center;}
.cta-devis:hover{background: #1a4090 url(../images/icon-devis.png)center 5px no-repeat;background-size: 55%;}

.cta-login{z-index:20;display:block;height:70px;width:70px;color:black;text-align: right;font-weight: 600;font-size: 22px;font-style:normal;position:absolute;right:10px;top:10px;text-decoration: none;position:fixed;font-family: "myriad-pro-condensed";}
.cta-login:hover{color:#1a4090;}


/********************** menu et footer **********************/
header{background-color:white;height:64px;box-shadow: 0px 0px 12px #aaa; position: fixed; width: 100%; top: 0px; z-index: 99999;}
footer{background-color:black!important;min-height: 300px;margin-top: 30px!important;}
nav a img{float:left;}


nav ul{margin-left:0px;display:table;width:100%;float:left;}
nav ul li{display:table-cell;float:left;text-align:left;font-family: "myriad-pro-condensed";}
nav ul li.prems{color:#e3e3e3;text-align: right;font-weight: 400;font-size: 20px;margin: 5px 10px 5px 0;}
nav ul li a{color:black;text-decoration:none;display:block;font-family:"myriad-pro-condensed";font-weight: 600;font-size: 22px;font-style:normal;margin:5px 30px 5px 0;}
nav ul li a.current{color:#e90085!important;}
nav ul li a:hover{color:#e90085!important;}
nav ul li a:visited{color:black;}
.tel-contact{font-size: 20px;line-height: 10px;padding-top: 14px;float:right;font-weight: 600;}

footer h3{color:#e90085;font-family: "myriad-pro-condensed";font-weight: 600;font-size: 26px;font-style:normal;text-align: center;padding-top: 30px;}
footer ul.foutu-footer{padding-top:65px;width:1080px;margin: 0 auto;text-align:center;}
footer ul.foutu-footer li{display:inline-block;margin:0 75px 10px 0;padding:0px 10px 10px 10px;line-height: 150px;position: relative;}
footer ul.foutu-footer li a{display:block;margin-left:5px;padding: 5px 10px;color:white;text-decoration: none;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 24px;}
footer ul.foutu-footer li a:hover{color:#e90085;}
#under-footer{background-color:white;}
#under-footer.bottom{position:absolute; bottom: 0; width: 100%}
#under-footer p{font-family: "myriad-pro-condensed";font-weight: 300;font-size: 18px;font-style:normal;color:#333;text-align: center;}

.form-footer{margin-top:45px;}
.form-footer form{margin-top:25px;}
.form-footer h2{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 26px;font-style:normal;padding: 0 3px;margin-bottom:10px;text-align:center;position:relative;top:-20px;}
.form-footer h2 span{background-color:white;padding:10px 10px;}
.form-footer p{smargin:0 0 0px 0;text-align:right;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;line-height: 40px;color:white;}
.form-footer input[type="text"]{margin:0 20px 20px 5px;text-align:left;width:55%; border:2px solid #e90085;border-radius:5px;text-indent: 5px; padding-top:0px;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;}
.form-footer label{padding-top: 10px;}

.form-footer p.valider #crea-submit{text-align: center;margin:0 400px 0 0;color:white;background-color:#e90085;border-radius:10px;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 24px;padding: 10px 30px;border:none;margin-bottom: 20px;}

.form-footer p.valider #crea-submit:hover{background-color:#6d4283;}
.form-footer p.valider #crea-submit:active{background-color:#6d4283;}



a.icon-rencontre{background: url(../images/icon-rencontre.png) center top no-repeat;}
a.icon-rappel{background: url(../images/icon-rappel.png) center top no-repeat;}
a.icon-demo{background: url(../images/icon-demo.png) center top no-repeat;}
a.icon-devis{background: url(../images/icon-devis.png) center top no-repeat;}

.formulaire-footer p.error input[type="text"]{box-shadow:0 0 5px red inset!important;}
.formulaire-footer p.error label{color: red;}

.formulaire p.error input[type="text"]{box-shadow:0 0 5px red inset!important;}
.formulaire p.error label{color: red;}

/********************** home **********************/
section#hp-header{background:url(../images/hp-bg-section1.jpg)top center no-repeat;background-size: cover;height:474px;padding-top: 37px; margin-top: 64px; }

#hp-video{background: white;width:360px;height:360px;float:left;}
#hp-video h1{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 20px;font-style:normal;padding: 0 3px;}
.txt-video{font-family: "myriad-pro-condensed";font-weight: 300;font-size: 18px;font-style:normal;padding:5px;}
.txt-video a{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 18px;font-style:normal;padding:5px;text-decoration:none;color:black;}
.txt-video a:hover{color:#e90085;}
.txt-video a:visited{color:#6d4283;}

#hp-form{width:300px;background-color:#1a4090;color:white;float:right;margin-right:100px;}
#hp-form h2{font-family: "myriad-pro-condensed";font-weight: 500;font-size: 22px;font-style:normal;padding: 0 3px;margin-bottom:20px;}
#hp-form h2 span{font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;}
#hp-form p{color:white;margin:0 0 0px 0;text-align:right;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 18px;font-style:normal;line-height: 10px;position: relative;}
#hp-form input[type="text"]{margin:0 20px 20px 5px;text-align:left;width:60%;  box-shadow:0 0 5px #666 inset; border:none;height:26px;text-indent: 5px; }
#hp-form label{padding-bottom: 10px;}
#hp-submit, .hp-submit{color:#e90085;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 24px;color: #e90084;
margin:5px 80px 10px 0;
padding: 2px 20px;
background: -moz-linear-gradient(top,#ffffff 0%,#ffffff 50%,#e6e6e6);
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),color-stop(0.50, #ffffff),to(#e6e6e6));-moz-border-radius: 1px;-webkit-border-radius: 1px;border-radius: 1px;border: 3px solid #ffffff;-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 3px rgba(255,255,255,1);
-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 3px rgba(255,255,255,1);box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 3px rgba(255,255,255,1);text-shadow:0px -1px 0px rgba(000,000,000,0.2),0px 1px 0px rgba(255,255,255,1);}
#hp-submit:hover,.hp-submit:hover{color:#6d4283!important;box-shadow:10px 10px 10px rgba(0,0,0,0.1),inset 10px 10px 10px rgba(0,0,0,0.1);}

.computer{display: inline-block; background: url(../images/dash1.png) no-repeat; width: 727px; height: 494px; margin: 0 auto; position: relative;}
.computer span{display: inline-block;}
.computer .masque{background: black; width: 499px; height: 317px; margin: 0 auto; position: absolute; top: 34px; left: 111px;}
.computer .slider{width: 499px; height: 317px; margin: 0 auto; position: absolute; top: 34px; left: 111px; overflow: hidden;}
.computer .slider .backgrounds{width: 2495px; position: absolute; left: -5px;}
.computer .slider .backgrounds img{float: left;}

.text_arg{display: none; height: 30px;}
.text_arg.active{display: inline-block;}
.text_arg_container{display: inline-block; width: 400px; height: 25px;}

#trois-blocs{float:left;margin-top: 207px;margin-left: 23px;color:white;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 20px;font-style:normal;}
.carre{min-height:45px!important;width:95px;padding:8px;}
.carre.slider{padding:10px 8px;}
.mini-tarifs{background-color:#e90085;float:right;padding-top: 40px!important;padding-bottom: 20px;}
.meritez{background-color:#6d4283;float:left;clear:both;padding-top: 40px!important;padding-bottom: 20px;}
.slider{background-color: rgba(255,255,255,0.4);float:right;font-family: "myriad-pro-condensed";font-weight: 400;line-height:16px;font-size: 16px;font-style:normal;text-align: center;color:rgba(0,0,0,0.5);}
.visu-slider{display:block;opacity:0.5;}
					
#trois-blocs a{color:white;text-decoration: none;}
#trois-blocs a:hover{color:white;text-decoration: underline;}



#hp-presta{margin-top: 50px;}
#hp-presta h2{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 26px;font-style:normal;padding: 0 3px;margin-bottom:10px;text-align:center;position:relative;top:-20px;}
#hp-presta h2 span{background-color:white;padding:10px 10px;}
p.intro-presta{font-family: "myriad-pro-condensed";font-weight: 400;font-size: 20px;font-style:normal;text-align: center;margin-bottom: 30px;line-height: 14px;}
.contour{border:2px solid black;padding:3px 15px 15px;}
ul.list-presta{float:left;width: 100%}
ul.list-presta li{max-height:100px;width:100px;margin:2px;padding:60px 1px 1px 1px;display:inline-block;float:left;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 18px;font-style:normal;color:white;text-align:center;}
span.offert{background: url(../images/offert.png)top left no-repeat;height: 60px;width:58px;display:block;float:right;position:relative;top:-65px;right:-4px;margin:0;padding: 0;}
#ai-salarie{margin-left:40px;}
#suis-tns{margin-left:40px;}

ul li.prix{float: right;margin:0;padding:0;text-align:left; width:140px;}
p.duree{text-transform: uppercase;font-style: italic;font-size: 24px;font-weight: 300}
p.since{font-family: "myriad-pro-condensed";font-weight: 300;font-size: 12px;font-style:normal;color:#a3a3a3;}
p.le-prix{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 60px;font-style:normal;line-height: 40px;}
p.le-prix span{font-size: 12px;}
p.le-prix span#prix-mensuel{font-size: 60px;}
p.crea{font-size:45px;text-transform: uppercase;font-family: "myriad-pro-condensed";font-weight: 600;font-style:normal;line-height: 30px;}
.btn-presta{text-align: center;position:relative;bottom:-30px}
.btn-presta a{color:white;text-decoration: none;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 24px;padding:5px 20px;sor:pointer;}
.btn-presta a:hover{cursor:pointer;color:#6d4283;}


.argu{margin-top: 40px;}
.argu h2{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 26px;font-style:normal;padding: 0 3px;margin-bottom:0px;text-align:center;}
.argu p.mention{font-family: "myriad-pro-condensed";font-weight: 100;font-size: 18px;font-style:italic;padding: 0 3px;margin-bottom:10px;text-align:center;}


#avantages{background:url(../images/hp-denim.jpg)top center no-repeat;background-size: cover;height:240px;margin-top: 40px;}
#avantages ul{padding-top:20px;width:100%;float:left;}
#avantages ul li{float:left;text-align:center;padding:5px;margin: 10px;font-family: "myriad-pro-condensed";font-weight: 600;font-size: 20px;font-style:normal;background:white;height:110px;width:180px;display: table-cell;padding-top: 70px;}


img.hp-visu-dash{text-align: center;}
p.legende{text-align:center;font-size: 22px; font-family: "myriad-pro-condensed";font-weight: 500;margin-top: 30px;}
p.legende img{margin:0px 5px 0 5px;vertical-align: middle;}

a.fleche-gauche{background: url(../images/fleche-gauche-grise.png)center center no-repeat;height:28px;width:53px;display:inline-block;margin: 0 5px;position:relative;top:7px;}
a.fleche-gauche.active{background: url(../images/fleche-gauche-rose.png)center center no-repeat;height:28px;width:53px;display:inline-block;margin: 0 5px;position:relative;top:7px;}
a.fleche-droite{background: url(../images/fleche-droite-grise.png)center center no-repeat;height:28px;width:53px;display:inline-block;margin: 0 5px;position:relative;top:7px;}
a.fleche-droite.active{background: url(../images/fleche-droite-rose.png)center center no-repeat;height:28px;width:53px;display:inline-block;margin: 0 5px;position:relative;top:7px;}



/********************** page obtenir vos tarifs **********************/
#obtenir-presta{margin-top: 65px;}
#obtenir-presta h2{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 26px;font-style:normal;padding: 0 3px;margin:20px 0 10px 0;text-align:left;}
#obtenir-presta h2 span{}
#obtenir-presta ul.list-presta{margin-bottom: 20px;}


.presta-gauche{width: 530px;}
ul.presta-gauche{display: inline-block; margin-top: 30px; width: 570px; }
ul.presta-gauche li{float: left; margin: 0 5px 0 15px; padding: 0;border-color: white; border-bottom: none; position: relative; display: inline-block; height: 50px; width: 250px;}
ul.presta-gauche li a{background: transparent; text-align: center; position: absolute; display: inline-block; top: 2px; padding: 5px 0; height: 40px; width: 250px; color: black; text-decoration: none; text-align: center; font-family: "myriad-pro-condensed";font-weight: 600;font-size: 30px;font-style:normal;}
ul.presta-gauche li.last{}
ul.presta-gauche li.active{border-color: black;}
ul.presta-gauche li.active a{border-color: black; background: white;}
div.presta-gauche{margin-top: -5px; padding-top: 25px;}
#form-droite{width: 40%;}
#form-droite form{padding-top: 10px;}
#form-droite p{margin:0 0 0px 0;text-align:right;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 18px;font-style:normal;line-height: 10px;}
#form-droite p.preambule{margin:0 0 10px 0;text-align:center;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 20px;font-style:normal;}
#form-droite p.price-addition{text-align: center; margin: 0 0 10px;}
#form-droite p.notice, #presta-gauche p.notice{margin: 10px;text-align:left;font-family: "myriad-pro-condensed";font-weight: 300;font-size: 16px;font-style:normal;line-height: 18px;padding:5px;}
#form-droite input[type="text"]{margin:0 20px 20px 5px;text-align:left;width:60%;  box-shadow:0 0 5px #666 inset; border:none;height:26px;text-indent: 5px; }
#form-droite label{padding-bottom: 10px;}
.gros-prix{display:inline-block; height: 70px; padding: 5px 10px 0; border-radius: 10px;}
.plus{font: bold 60px Arial; padding-top: 30px;color: white;}
.montant{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 76px;font-style:normal;line-height: 60px;}
.mensualite{font-family: "myriad-pro-condensed";font-weight: 400;font-size: 16px;font-style:normal;}

#form-droite #hp-submit{margin-right: 160px!important;}

ul.list-avantages{display:inline-block;}
ul.list-avantages li{display:inline-block;margin:0 10px 10px 0;padding:0 10px;float:left;text-align: center;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 18px;font-style:normal; max-width: 179px;}
ul.list-avantages li.last{margin-right: 0;}


.tab-noninclus ul{margin-top: 30px;}
.tab-noninclus ul li{font-family: "myriad-pro-condensed";font-weight: 400;font-size: 18px;font-style:normal; margin-bottom: 20px;}
.tab-noninclus ul li h3{font-family: "myriad-pro-condensed";font-weight: 400;font-size: 26px;font-style:normal;}



/********************** page trouver votre expert comptable **********************/
p.sexe{font-family: "myriad-pro-condensed";font-weight: 400;font-size: 16px;font-style:normal;}
p.sexe a{text-decoration: none;}
p.sexe a:hover, p.sexe a.current{text-decoration: underline;text-align: center;}
.bloc-argu{width:25%;float:left;margin-left: 80px;margin-top: 20px;}
.bloc-argu img{margin: 10px 0 0 90px;}
.bloc-argu + .bloc-argu img{margin: 10px 0 0 50px;}
.bloc-argu + .bloc-argu + .bloc-argu img{margin: 10px 0 0 60px;}
#sous-guguss h3{font-family: "myriad-pro-condensed";font-weight: 500;font-size: 25px;}
.bloc-argu h4{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 28px;font-style:normal;text-align:center;}
.bloc-argu ul {color: #f00;}
.bloc-argu ul li{list-style-type: square;margin-bottom: 20px;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 16px;font-style:normal;list-style-position: inside;color:black;text-align: left;}

/********************** page créer son entreprise **********************/
h1.big-question{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 38px;font-style:bold;margin-top: 30px;}
h2.big-reponse{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 58px;font-style:bold;}
section#creation{margin-top: 90px;}
.step-1,.step-2,.step-3,.step-4,.step-5{min-height: 505px;}
.big-question{margin-bottom: 30px;}
section#creation a{text-decoration: none;}
section#creation a:hover img{  box-shadow: 1px 1px 12px #555;}
section#creation a:hover h2{text-shadow: 0px 0px 9px #aaa;}
ul.big-list{padding-left: 100px;margin-top: 30px;}
ul.big-list li{display:inline; font-family: "myriad-pro-condensed";font-weight: 600;font-size: 54px;font-style:bold;list-style-type: square; margin-right: 200px}
ul.big-list li + li + li{margin-right: 0px}

.form-crea{margin-top:50px;}
.form-crea h2{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 26px;font-style:normal;padding: 0 3px;margin-bottom:10px;text-align:center;position:relative;top:-20px;}
.form-crea h1{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 36px;font-style:normal;padding: 0 3px;margin-bottom:10px;text-align:center;position:relative;top:-30px;}
.form-crea h3{font-family: "myriad-pro-condensed";font-weight: 400;font-size: 20px;font-style:normal;padding: 0 3px;margin-bottom:10px;}
.form-crea h2 span, .form-crea h1 span{background-color:white;padding:10px 10px;}
.form-crea p{smargin:0 0 0px 0;text-align:right;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;line-height: 40px;color:#e90085;}
.form-crea input[type="text"]{margin:0 20px 20px 5px;text-align:left;width:55%; border:2px solid #e90085;border-radius:5px;text-indent: 5px; padding-top:0px;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;}
.form-crea label{padding-top: 10px;}
.form-crea p.valider #crea-submit{text-align: center;margin:0 400px 0 0;color:white;background-color:#e90085;border-radius:10px;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 24px;padding: 10px 30px;border:none;}
.form-crea p.valider #crea-submit:hover{background-color:#6d4283;}
.form-crea p.valider #crea-submit:active{background-color:#6d4283;}

.bloc-argu-2{float:left;margin-left: 60px;text-align:center;}
.bloc-argu-2 h4{font-family: "myriad-pro-condensed";font-weight: 500;font-size: 26px;font-style:normal;text-align:center;}




.step-1b form{margin-top:25px;}
.step-1b p{smargin:0 0 0px 0;text-align:right;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;line-height: 40px;color:#e90085;}
.step-1b input[type="text"]{margin:0 20px 20px 5px;text-align:left;width:40%; border:2px solid #e90085;border-radius:5px;text-indent: 5px; padding-top:0px;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;}
.step-1b label{padding-top: 10px;}
.step-1b input[type="submit"]{text-align: center;margin-right:30px !important;color:white;background-color:#e90085;border-radius:10px;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 24px;padding: 10px 30px;border:none;}
.step-1b input[type="submit"]:hover{background-color:#6d4283;cursor:pointer;}



::-webkit-input-placeholder {color: #f2f2f2;}
:-moz-placeholder { /* Firefox 18- */color:  #f2f2f2;  }
::-moz-placeholder {  /* Firefox 19+ */color:  #f2f2f2;}
:-ms-input-placeholder {color:#a12d64;}
/* min-width pour moyennes résolutions */



/********************** pop-up **********************/
#popup{background: white;}
#popup h1{font-family: "myriad-pro-condensed";font-weight: 600;font-size: 32px!important;font-style:normal;color:#e90085;margin-left: 20px;margin-bottom: 25px;text-align: center!important;}
#popup h2{font-family: "myriad-pro-condensed";font-weight: 400;font-size: 20px!important;font-style:normal;color:#1a4090;margin-left: 250px;margin-bottom: 25px;text-align: left!important;}

#popup p{text-align:right;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;line-height: 40px;color:black;padding-right: 30px;}
#popup input[type="text"]{margin:0 20px 20px 5px;text-align:left;width:40%; border:2px solid #e90085;border-radius:5px;text-indent: 5px; padding-top:0px;font-family: "myriad-pro-condensed";font-weight: 500;font-size: 28px;font-style:normal;}
#popup label{padding-top: 10px;}
#popup input[type="submit"]{text-align: center;margin-right:30px !important;color:white;background-color:#e90085;border-radius:10px;font-family: "myriad-pro-condensed";font-weight: 400;font-size: 24px;padding: 10px 30px;border:none;}


#popup input[type="submit"]:hover{background-color:#6d4283;cursor:pointer;}
#popup input[type="submit"]:active{background-color:#6d4283;}



@media screen and (min-width: 1024px) {
	#hp-form{
	nav ul li{font-size:13px;}
	}
	
}


/* max-width pour faibles résolutions */
@media screen and (max-width: 640px) {
	
	#hp-form{float:none;}
	nav ul li{float:none;}
}
